@import '../variables';


.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  background: $dark;
  width: 100vw;
  height: 200px;
  margin: 0 ;
  p{
    font-size: 18px;
    margin-top: 2px;
  }
  &__icon{
    width: 30px;
    height: 30px;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }
  &__catalog{
    display: flex;
    flex-direction:row;
    align-content: center;
    background-color:$lightblue;
    padding: 0 30px;
    border-radius: 25px;
    font-weight: 700;
    margin-top: 2px;
    p{
      color:$white;
      font-size: 20px;
      margin: 15px 5px 15px -5px;
    }
    &hover{
      background: $pink;
      cursor: pointer;
    }
    img{
      width: 32px;
      height: 32px;
      margin: 10px 15px 10px 0;
    }
  }
  &__userPanel{
button{
  background-color: transparent;
  border: none;
  padding: 12px 25px;
  &:hover{
    background-color:$black;
    border-radius:20px ;
  }
}

  }
  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      width: 130px;
      height: 130px;
      margin-left: -60px;
    }

    h1 {
      color: $deepblue;
      margin-top: 25px;
      font-size: 30px;
      letter-spacing:3.8px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color:$deepblue;
      font-weight: 500;

    }
  }
}
