@import '../variables';

.login {
  height: 75vh;
  width: 55vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $middleblue;
  border-radius: 100px;

  form {
    display: flex;
    width: 35vw;
    flex-direction: column;

  }

  span {
    margin: 0 30px;
    font-weight: 700;
  }

  label {
    text-align: center;
    font-size: 40px;
    opacity: 0.1;
    margin: 10px;
  }

  input {
    border-radius: 15px;

    border: 2px solid $middleblue;
    color: $blue;
    height: 55px;
    font-size: 25px;
    text-align: start;
    letter-spacing: 0.4em;
    opacity: 0.7;
    padding-left: 25px;
    transition: 1.5s;
  }

  input:focus {
    border: none;

    border-bottom: 20px solid $deepblue;
    opacity: 1;
  }

  p {
    text-align: center;
  }


  &__instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: $brightwhite;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }


  &__errmsg {
    font-size: 15px;
    color: $warning;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }


  &__offscreen {
    position: absolute;
    left: $offscreen;
  }
}

@media (max-width: 450px) {
  .login {
    span {
      letter-spacing: 2px;
      font-size: 12px;
    }
  }
}
