$lightblue: #81afd8;
$middleblue: #6496c8;
$blue: rgba(74, 58, 124, 0.59);
$deepblue:rgba(86, 90, 177, 0.96);
$white: #ced6dc;
$brightwhite:#fff;
$dark: #343a40;
$info: #F1CDB3;
$warning: #ffc107;
$danger: #dc3545;

$offscreen: -9999px;