$background: #fafcfd;
$white: #fafcfd;
$black: #313030;
$dark:#000000;
$grey: #3f3f3f;
$lightgray: #919398;
$red: #de0027;
$pink: #f77887;
$green: #16a000;
$lightblue: #5184ca;
$deepblue:#2196F3;
$blue: #25599a;
$gray-line: #f6f6f6;



$container-width: 90%;
$duration: 0.15s;

